*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2222227e;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.384);
    width: 40vw;
    min-height: 70vh;
    margin: 0 auto;
    
}

.box-container img{
    width: 150px;
    height: 150px
}



.box-container p{
    padding: 20px;
    text-align: center;
}


@media (max-width: 768px){
    .box-container{
        width: 100%;
    }

    .box-container p{
        padding: 20px;        
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1000px){
    .box-container{
        width: 60vw;
    }

    .box-container p{
        padding: 20px;        
        text-align: center;
    }
}


  